<ion-view title="Add Child" id="page9" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="addChild-form5" class="list ">
            <label class="item item-input " id="addChild-input8">
                <span class="input-label">Name</span>
                <input type="text" placeholder="" ng-model="child.name">
            </label>
            <label class="item item-input " id="addChild-input9">
                <span class="input-label">Birthday</span>
                <input type="date" placeholder="" ng-model="child.birthday">
            </label>
            <!-- TODO: upload picture with form -->
        </form>
        <button class="button icon-left ion-star button-positive">Add Image</button>
        <a ng-click="addChild(child)" id="addChild-button10" class=" button button-positive button-small button-block ">Submit</a>
        <a ui-sref="tabsController.collections" id="conversationEnded-button23" style="border-radius:5px 5px 5px 5px;" class="button button-assertive button-small button-block ">Cancel</a>
    </ion-content>
</ion-view>
