<ion-view title="Add Child" id="page9" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="addChild-form5" class="list ">
            <label class="item item-input " id="addChild-input8">
                <span class="input-label">Name</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-select " id="addChild-select1" name="Gender">
                <span class="input-label">Gender</span>
                <select>
                    <option>Male</option>
                    <option>Female</option>
                </select>
            </label>
            <label class="item item-input " id="addChild-input9">
                <span class="input-label">Birthdate</span>
                <input type="date" placeholder="">
            </label>
        </form>
        <a ui-sref="tabsController.myCollections" id="addChild-button11" class=" button button-positive button-small button-block ">Submit</a>
    </ion-content>
</ion-view>