<ion-view title="Analytics " id="page4" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="analytics-form9" class="list ">
            <label class="item item-select " id="analytics-select2">
                <span class="input-label">Select Child</span>
                <select>
                    <option>Mojo</option>
                    <option>Jimmy</option>
                    <option>Rory</option>
                </select>
            </label>
        </form>
        <a ui-sref="tabsController.NameSAnalytics" id="analytics-button15" class=" button button-positive button-small button-block ">View Progress</a>
    </ion-content>
</ion-view>