<ion-view title="{{ child.Name }}'s Collection " id="{{ child.ChildId }}">
    <ion-content padding="false" class="has-header">
        <ion-list id="NameSConversations-list1" class=" ">
            <a class="item item-icon-left" ng-repeat="conversation in conversations" ui-sref="tabsController.conversation({ conversationId: '{{ conversation.ConversationId }}' })">
                <i class="icon ion-chatbubble-working"></i>
                <span ng-if="conversation.Name != ''">
                    {{ conversation.Name }}
                </span>
                <span class="item-note">
                    {{ conversation.Date | date : 'shortDate'}}
                </span>
            </a>
        </ion-list>
    </ion-content>
</ion-view>