<ion-view title="My Collections" id="page8">
    <ion-header-bar class="bar bar-subheader">
        <h1 class="title">Select a Child</h1>
    </ion-header-bar>
    <ion-content padding="false" class="has-subheader">
        <div class="list">
            <a class="item item-avatar" ng-repeat="child in children" ui-sref="tabsController.collectionsChild({ childId: '{{ child.ChildId }}' })">
                <img ng-src="{{ child.ImgPath }}" />
                <h2>{{ child.Name }}</h2>
                <p>Last updated: {{ child.UpdatedAt | date:'medium' }}</p>
            </a>
        </div>
        <div class="padding">
            <a ui-sref="tabsController.addChild" id="myCollections-button10" class="button button-positive button-small button-block">Add Child</a>
        </div>
    </ion-content>
</ion-view>
