<ion-view title="My Collections" id="page8">
  <ion-content padding="true" class="has-header">
    <div class="list">
      <a class="item item-avatar" ng-repeat="child in children" ui-sref="tabsController.myCollections({ childId: '{{ child.ChildId }}' })">
        <img ng-src="{{ child.ImgPath }}" />
        <h2>{{ child.Name }}</h2>
        <p>Last updated: {{ child.UpdatedAt | date:'medium' }}</p>
      </a>
    </div>
      <a ui-sref="tabsController.addChild" id="myCollections-button10" class=" button button-positive button-small button-block ">Add Child</a>
  </ion-content>
</ion-view>
