<ion-view title="My Collections" id="page8" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="myCollections-list5" class=" ">
            <ion-item class="item-thumbnail-left  " id="myCollections-list-item17" ui-sref="tabsController.NameSConversations">
                <h2>Lil DJ</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left  " id="myCollections-list-item18" ui-sref="tabsController.NameSConversations">
                <h2>Momo</h2>
            </ion-item>
        </ion-list>
        <a ui-sref="tabsController.addChild" id="myCollections-button10" class=" button button-positive button-small button-block ">Add Child</a>
    </ion-content>
</ion-view>