<ion-view title="*Name's* Analytics " id="page13" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="NameSAnalytics-list9" class=" ">
            <ion-item id="NameSAnalytics-list-item24" class="  ">Longest Word Spoken:
                <span class="item-note">Pumpernickel</span>
            </ion-item>
            <ion-item id="NameSAnalytics-list-item25" class="  ">*Visualizations Here*</ion-item>
            <ion-item id="NameSAnalytics-list-item26" class="  ">Current Conversation Streak:
                <span class="item-note">5 days</span>
            </ion-item>
        </ion-list>
        <a ui-sref="tabsController.analytics" id="NameSAnalytics-button16" class=" button button-positive button-small button-block ">Back to Children</a>
    </ion-content>
</ion-view>