<ion-view title="Signup" id="page7" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="signup-form4" class="list ">
            <ion-list id="signup-list4" class=" ">
                <label class="item item-input " id="signup-input5">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="signup-input6">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="signup-input7">
                    <span class="input-label">Password</span>
                    <input type="text" placeholder="">
                </label>
            </ion-list>
            <a ui-sref="tabsController.startAConversation" id="signup-button7" class=" button button-stable  button-block ">Sign up</a>
        </form>
        <a ui-sref="tabsController.login" id="signup-button9" style="border-radius:0px 0px 0px 0px;" class=" button button-positive  button-block button-clear ">Or login</a>
    </ion-content>
</ion-view>