<ion-view title="Signup" id="page7" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="signup-form4" class="list" ng-submit="register(user)">
            <ion-list id="signup-list4" class=" ">
                <label class="item item-input " id="signup-input5">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="" ng-model="user.name" required>
                </label>
                <label class="item item-input " id="signup-input6">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="" ng-model="user.email" required>
                </label>
                <label class="item item-input " id="signup-input7">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="" ng-model="user.userName" required>
                </label>
                <label class="item item-input " id="signup-input8">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="" ng-model="user.password" required>
                </label>
            </ion-list>
            <input type="submit" class="button button-positive button-block" value="Sign up" id="signup-button7">
        </form>
        <a ui-sref="login" id="signup-button9" style="border-radius:0px 0px 0px 0px;" class=" button button-positive  button-block button-clear ">Or login</a>
    </ion-content>
</ion-view>