.login-logo {
    width: 50%;
    margin: 10% 25% 10% 25%;
}

input {
  width: 100%;
}

.button-float{
  display: block;
  margin: 0 auto;
  height: 100px;
  width: 100px;
  padding: 27px;
  color:white !important;
  z-index: 12 !important;
  border-radius: 50% !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
  -webkit-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
  -webkit-transition: 0.2s linear !important;
  transition: 0.2s linear !important;
  -webkit-transition-property: -webkit-transform, all !important;
  transition-property: transform, all !important;
  text-align: center;
}

.button-float:hover{
  -webkit-transform: translate3d(0, -1px, 0)  !important;
  transform: translate3d(0, -1px, 0) !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4) !important;
}

a.item-avatar:hover, a.item-avatar:hover > h2,
a.item-avatar:hover > p {
  background-color: #0066ff;
  color: white;
}

.platform-ios .manual-ios-statusbar-padding{
    padding-top:20px;
}

.manual-remove-top-padding{
    padding-top:0px;
}

.manual-remove-top-padding .scroll{
    padding-top:0px !important;
}

ion-list.manual-list-fullwidth div.list, .list.card.manual-card-fullwidth {
    margin-left:-10px;
    margin-right:-10px;
}

ion-list.manual-list-fullwidth div.list > .item, .list.card.manual-card-fullwidth > .item {
    border-radius:0px;
    border-left:0px;
    border-right: 0px;
}
